.img{
    width: 30px;
}
a{
    text-decoration: none;
    color: initial;
}
a:hover{
    text-decoration: underline;

}
.fecha{
    font-size: 10px;
}
.card{
    width: 400px;
    padding: 0;
}
hr{
    margin-top: 100px;
    margin-bottom: 100px;
}
